<html data-ng-app="">
<head>
    <title>A little Angular App</title>

</head>
<body>
<div class="container" data-ng-controller="SimpleController">
    <h3>Adding a Simple Controller</h3>
    Name:
    <br />
    <input type="text" data-ng-model="name" />
    <br />

    <ul>
        <li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">{{cust.name}} - {{ cust.city}}</li>
    </ul>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>

<script>
    function SimpleController($scope) {
        $scope.customers = [
            {name: 'Dave Jones', city: 'Phoenix'},
            {name: 'Jamie Riley', city: 'Atlanta'},
            {name: 'Heedy Wahlin', city: 'Chandler'},
            {name: 'Thomas Winter', city: 'Seattle'}
        ];
    }
</script>

</body>
</html>